body::-webkit-scrollbar {
    width: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100%;
    background: linear-gradient(135deg, #345,#543);
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}
.area {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #556;
    padding: 0.3rem 2rem;
    border-radius: 30px;
}
.navbar .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: url("img/1.png.jpg");
    background-size: cover;
}
.navbar .r-name h1{
    transform: translateX(40px);
    color: #fff;
    letter-spacing: 1rem;
    font-family: Edwardian Script ITC;
    font-size: 3.5rem;
}
.navbar .fun {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 1.3rem;
}
.navbar .fun button {
    outline: 1px solid white;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 30px;
    background: transparent;
    backdrop-filter:  blur(10px);
}
.navbar .fun i {
    border-radius: 50%;
    background: white;
    padding: 1rem;
    margin-left: 1rem;
} 
.wallpaper {
    width: 100%;
    text-align: center;
    height: 50vh;
}
.wallpaper img {
    opacity: 0;
    width: 100%;
    height: 53rem;
    background-size: cover;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
    color: #fff;
}

.ani, .info {
    position: absolute;
    align-self: center;
    color: white;
    top: 9rem;
    font-size: 10rem;
}
.info {
    text-align: center;
    top: 25rem;
    font-size: 1.7rem;
    overflow: hidden;
    border-right: 0.3rem;
    letter-spacing: 0.2rem;
    margin: 0 auto;
}
.llg {
    animation: led 10s ease-in-out 1;
}
@keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
body::-webkit-scrollbar {
    width: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100vw;
    padding: 2rem;
    background: linear-gradient(#f88,#800);
    caret-color: transparent;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.row1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 1rem;
    flex-direction: column;
    padding: 2rem;
    background: url("img/2.png");
    background-size: cover;
}
.row1 .name h1{
    font-size: 5rem;
    color: #fff;
}
.search-item {
    background: #fff;
    border-radius: 30px;
    padding: 1rem 2rem;
}
.search-item input{
    border-radius: 20px;
    padding: 0.4rem 1rem;
    outline: 1px solid #000;
    border: none;
    font-size: 1.5rem;
    caret-color: auto;
}
.search-item button {
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    margin-left: 20px;
}
.row2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #f18383;
    padding: 1.3rem 2rem;
}
.row2 .opt {
    text-align: center;
    border-radius: 30px;
    font-size: 1.5rem;
    column-gap: 0.8rem;
    background: #fff;
    padding: 0.7rem 1rem 0;
    cursor: pointer;
}
.row2 .opt p{
    display: inline-block;
}
.row2 .opt i {
    background: #f30a0a;
    border-radius: 50%; 
    color: #fff;
    padding: 0.3rem;
}
.row3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;
    background: transparent;
    backdrop-filter: blur(100rem);
    padding-bottom: 2rem;
}
.sr1 {
    width: 100%;
}
.sr11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 1rem;
}
.sr11 h1 {
    text-decoration: underline solid 3px #72a8de;
    color: #fff;
}
.sr11 p {
    font-size: 1.3rem;
    background: #030;
    color: #fff;
    border-radius: 30px;
    padding: 0.2rem 2rem;
    cursor: pointer;
}
.sr12 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap
}
.row3 .col {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col .card {
    overflow: hidden;
    width: 20rem;
    background: linear-gradient(135deg, #fff,#f0f6a1,#000);
    background-size: 200%, 200%;
    animation: shine 3s ease 1;
}
.col .card .rating{
    opacity: 0.9;
    font-size: 2rem;
    top: 20px;
    position: absolute;
    background: linear-gradient(135deg, #fff,#f7f3f7,#000);
    background-size: 200%, 200%;
    padding: 0.8rem 2rem;
    padding-left: 5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: shine 3s ease infinite;
}
.card img {
    max-height: 10rem;
    overflow: hidden;
    padding: 1rem 0.5rem 0;
    border-top-right-radius: 60px;
}
.card-body {
    text-align: center;
}
.card-body h5 {
    font-size: 3.5rem;
}
.card-body h3 {
    font-size: 3rem;
}
.card-body a {
    font-size: 1.5rem;
}
.card-body .cart {
    border-radius: 50%;
    margin-right: 2rem;
}
.sr1 .sr11 a {
    text-decoration: none;
    color: #fff;
}
.sr1 .sr11 a::after{
    text-decoration: none;
    color: #fff;
}