* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
    background: #f2f2f2;
}

.area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background: #f2f2f2;
    box-shadow: 0 0 30px #000;
    padding: 3rem;
    border-radius: 30px;
}

.area .input-field{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area .input-field input{
    padding: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    color: #000;
    margin: 1.5rem;
    border-radius: 30px;
    min-width: 250px;
}

button{
    padding: 0.7rem 1rem;
    outline:  0.15rem solid #000;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 30px;
    color: #006;
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.log-in p{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}